.hero {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 0 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

  background: linear-gradient(180deg, #d484b6, #3d221d 99%);

  img {
    display: block;
    width: 95%;
    margin: auto;
    transition: 0.75s;
  }

  &__text {
    max-width: 900px;
    transform: translateY(25%);
    transition: 0.75s;
    width: 100% !important;
  }

  &__images {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    transition: 0.75s;

    .dots {
      position: absolute;
      bottom: -15%;
      right: -2%;
      width: 80%;
      mix-blend-mode: multiply;
    }
  }

  @media (orientation: landscape) and (max-height: 799px) {
    height: 100vh;
    padding: 0;

    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
    align-items: unset;

    img {
      width: 90%;
      margin: 0 auto;
    }

    &__text {
      display: flex;
      align-items: center;
      width: 50vw;
      transform: translateY(0);
    }

    &__images {
      width: 50vw;
      max-width: 700px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  @media (orientation: landscape) and (min-height: 800px) {
    height: 100vh;
    padding: 0;

    &__text {
      max-width: 800px;
      transform: translateY(33%);
    }

    &__images {
      max-width: 640px;
    }
  }

  @media (orientation: landscape) and (min-height: 900px) {
    &__text {
      max-width: 1080px;
    }

    &__images {
      max-width: 700px;
    }
  }
}
