.scrollinfo {
  width: 100%;
  // pointer-events: none;
  // @media (min-width: $desktop-s) {
  //   max-width: 1080px;
  // }
  // @media (min-width: $desktop-l) {
  //   max-width: 1560px;
  // }

  .scrollinfo__graphics {
    position: sticky;
    top: 0;
    height: 100vh;
    min-height: 720px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;
    background-color: #fff;

    @media (min-width: 480px) {
      height: 100vh;
    }

    > img {
      width: 100%;
      max-width: 720px;
      display: block;
      margin: 0 auto;
      // transform: translateX(-2.5%);
      z-index: 1;
      @media (min-width: $tablet-l) {
        height: 90vh;
        max-height: 720px;
        width: auto;
      }
    }

    > h1 {
      position: absolute;
      top: 90px;
      left: 5%;
      font-size: clamp(30px, 8vw, 42px);
      font-family: var(--main-font-bold);
      font-weight: normal;
      line-height: 1.1;
      letter-spacing: -0.025em;
      color: #3e0c41;
      z-index: 10;
      width: 90%;
      margin: 0;

      @media (min-width: $phone-l) {
        top: 10vh;
      }

      @media (min-width: $tablet-l) {
        width: 40%;
        top: 25vh;
      }
    }

    .scrollinfo__graphic {
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100vh;
      min-height: 720px;
      max-width: 1024px;
      margin: 0 auto;
      z-index: 1;
      opacity: 0;
      transition: opacity 1s;
      transform: translateX(-50%) translateY(0) translateZ(0);

      text-align: left;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      @media (min-width: 480px) {
        background-size: contain;
      }

      @media (min-width: $tablet-s) {
        height: 100vh;
        max-width: 100%;
        min-height: 600px;
        background-position: center center !important;
      }

      picture,
      img {
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.scrollinfo .scrollinfo__graphics .scrollinfo__graphic.is-active {
  opacity: 1 !important;
  transition: 0.75s;

  p {
    transition: 0.25s;
    transform: translateY(0);
  }

  p.is-right {
    transition: 0.25s;
    transform: translateY(0);
  }

  p.is-bottom {
    transition: 0.25s;
    transform: translateY(0);
  }
}
