.especial__iframe,
.especial__iframe iframe,
.mv-playlist {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  transform: translate(-50%, -50%);
}

.especial__video {
  position: relative;
  // position: absolute;
  // top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  video {
    width: 100%;
    // max-width: 720px;
    margin: 0 auto;
    height: auto;
  }
}

.scrollinfo__txt--no-box {
  background: none !important;
  background-color: transparent !important;
}
