.especial__video {
  position: relative;
  // position: absolute;
  // top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  video {
    width: 100%;
    // max-width: 720px;
    margin: 0 auto;
    height: auto;
  }
}

.scrollinfo {
  max-width: unset;
}

.scrollinfo .scrollinfo__steps .scrollinfo__step .scrollinfo__txt--no-box {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  display: block !important;

  width: 90%;
  height: 100%;
  max-width: 800px;
  padding: 0;

  background: none !important;
  background-color: transparent !important;
  box-shadow: none;
}

.especial__iframe,
.especial__iframe iframe,
.mv-playlist {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 800px;
  width: 90% !important; /* !important to override CC */
  height: 60vh !important;
  min-height: 320px;
  transform: translate(-50%, -50%);
}
